/*#html5-qrcode-anchor-scan-type-change {
    display: none;
}
#reader > div:nth-child(1) {
    display: none;
}
#reader__dashboard_section_csr > span:nth-child(2){
    display: none;
}
#reader__dashboard_section > div:nth-child(2){
    display: none;
}*/