/*#html5-qrcode-anchor-scan-type-change {
    display: none;
}
#reader > div:nth-child(1) {
    display: none;
}
#reader__dashboard_section_csr > span:nth-child(2){
    display: none;
}
#reader__dashboard_section > div:nth-child(2){
    display: none;
}*/

*{
font-family:Arial, Helvetica, sans-serif;
}
.docs{
    display: none;
}
.result{ display: none;}
.exito{ 
    color: rgb(37, 105, 194);
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0 10px;
}
.guardar{
    width: 80vw !important;
    height: 20vw !important;
    font-size: 20px;
    display: block;
    margin: auto;
    
}
.menu {
    padding: 10px;
}
.menu li {
    display: inline-flex;
    padding: 5px;
    border: solid 1px;
    margin: 7px;
    border-radius: 8px;
}
#html5-qrcode-button-camera-permission {
    width: 80vw !important;
    height: 20vw !important;
    font-size: 0px;
    
}

#html5-qrcode-button-camera-permission::before {
content: "ESCANEAR"; 
font-size: 20px;

}